.article-info {
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

input {

    width: 65%;
    font-size: 22px;
    border-radius: 5px;
    outline: none;
    border: solid 1px #ccc;
    padding: 5px 10px;
    transition: 0.2s ease-in-out;
}

select {
    transition: 0.2s ease-in-out;
    width: 20%;
    font-size: 22px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: transparent;
    border: solid 1px #ccc;
    outline: none;
    border-radius: 5px;
    font-weight: 400;
    cursor: pointer;
}

input:focus,
select:focus {
    border-color: rgb(117, 30, 216);
}

button {
    width: 15%;
    font-size: 22px;
    background-color: transparent;
    border-radius: 5px;
    border: solid 1px green;
    color: green;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

button:hover {
    background-color: green;
    color: white;
}

.message-div {
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    height: 60px;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 15px;
    color: rgb(228, 37, 37);
}

.article-content {
    width: 100%;
    display: flex;
}

.content-box {
    width: 50%;
    display: flex;
    gap: 10px;
    align-items: center;
    flex-direction: column;

    & h3 {
        font-size: 22px;
    }
}

.select-title {
    width: 65%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.title-to-select {
    border-radius: 5px;
    border: solid 1px #ccc;
    font-size: 20px;
    padding: 6px;
    color: #757575;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.title-to-select:hover {
    border-color: rgb(117, 30, 216);
    color: rgb(117, 30, 216);
}


.selected-title {
    transition: 0.2s ease-in-out;
    border-color: rgb(117, 30, 216);
    color: rgb(117, 30, 216);
    cursor: default;
}

.options-buttons {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

    & button {
        width: 65%;
        padding: 5px;
        font-size: 22px;
    }
}

.download-pdf {
    color: rgb(207, 34, 34);
    border-color: rgb(207, 34, 34);
}

.download-pdf:hover {
    background-color: rgb(207, 34, 34);
    color: white;
}

.article-text {
    width: 100%;
    border: solid 1px #d1d1d1;
    border-radius: 5px;
    padding: 15px;
    line-height: 25px;
}


.loader {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    border: solid 1px #e7e7e7;
    border-radius: 5px;
    height: 600px;

    font-size: 22px;
}

.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.spinner {
    width: 100px;
    height: 100px;
    border: 10px solid #d6d6d6;
    border-top: 10px solid rgb(117, 30, 216);
    border-radius: 50%;
    animation: spin 0.8s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 700px) {
    .article-info {
        flex-direction: column;
        width: 100%;

        & input{
            width: 100%;
        }

        & select {
            width: 100%;
            padding: 5px;
        }

        & button {
            width: 100%;
            padding: 5px;
        }
    }
    
    .article-content {
        flex-direction: column;
        gap: 20px;

        & .content-box {
           width: 100%;     
        }

        & .select-title{
            width: 100%;
        }
    }

    .options-buttons {
        margin-top: 0;
        & button {
            width: 100%;
        }
    }
}